body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

header {
  background-color: #444444;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.left-side {
  color: #fff;
  width: 20%;
  float: left;
}

.right-side {
  color: #fff;
  width: 20%;
  float: right;
}

.sidebar-ads {
  width: 160px;
  margin: auto;
}

.main {
  width: 60%;
  float: left;
}

.box {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 0px;
}

.first-news-box {
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  color: #333333;
}

.first-news-box .box-title h2 {
  font-size: 40px;
  color: #000;
}

hr {
  width: 100%;
  border: 1px solid #666;
}

.box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.box-title {
  padding: 5px;
  margin-top: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.box-content {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  word-wrap: break-word;
}

.news-list-button-container {
  width: 100%;
  margin: 50px 0px;
}

.news-list-button-container p {
  width: 300px;
  text-align: center;
  margin: auto;
}

.news-list-button-container a {
  color: #444444;
}

.news-list-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #FCED34;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-list-button:hover {
  background-color: gold;
}

.news-item {
  width: 100%;
  height: 100px;
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
  color: #333333;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.datetime-container {
  margin-top: 10px;
}

.news-item h2 {
  margin: auto;
  color: #000;
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
}

.text-container {
  flex: 1;
  margin-left: 20px;
}

.image-container {
  margin: auto;
  max-width: 30%;
  overflow: hidden;
}

.image-container img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; */
}

.youtube iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .left-side, .right-side {
    display: none;
  }

  .container {
    width: 95%;
    flex-direction: column;
  }

  h2 {
    font-size: 20px;
  }

  .first-news-box .box-title h2 {
    font-size: 26px;
    color: #000;
  }

  .news-item h2 {
    font-size: 18px;
    color: #000;
  }

  .box-content {
    width: 100%;
    height: 200px;
    padding: 5px;
    font-size: 16px;
    word-wrap: break-word;
  }

  .first-news-box {
    width: 95%;
    margin: 10px auto;
    background-color: #fff;
  }

  .news-item {
    width: 95%;
    height: 100px;
    display: flex;
    margin: auto;
    background-color: #fff;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .main {
    width: 90%;
    margin: auto;
  }
}
