<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block customcss %}
    {% endblock customcss %}

    <title>Hello, world!</title>
  </head>
  <nav class="navbar navbar-dark bg-dark text-light">
    <h1>ニュース</h1>
  </nav>
  {% block header %}
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  <!-- 自動でオーバーレイ広告を出す機能があるためそちらを使う。 -->
  <!-- <div class="ad-container" id="adContainer">
    広告スペース
  </div> -->

  <nav class="navbar navbar-dark bg-dark text-light">
    <p>フッター</p>
  </nav>

  <!-- 自動でオーバーレイ広告を出す機能があるためそちらを使う。 -->
  <!-- <script>
    var adContainer = document.getElementById('adContainer');
    var isVisible = false;

    window.addEventListener('scroll', function () {
      var scrollPosition = window.scrollY;
      var windowHeight = window.innerHeight;
      var documentHeight = document.documentElement.scrollHeight;

      if (scrollPosition + windowHeight >= documentHeight - 100) {
        if (isVisible) {
          adContainer.style.display = 'none';
          isVisible = false;
        }
      } else {
        if (!isVisible) {
          adContainer.style.display = 'block';
          isVisible = true;
        }
      }
    });
  </script> -->
</html>