{% extends 'base.html' %}
{% load static %}

{% block metatag %}
  <meta property="og:url" content="https://hadronnews.com/detail_page/{{ object.id }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ object.title }}">
  <meta property="og:description" content="{{ object.content |truncatechars:100}}">
  <meta property="og:image" content="{{object.newsimage.url}}" >
  <meta name="twitter:card" content="summary" />
{% endblock metatag %}

{% block customcss %}
  <link href="{% static 'detail_page.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}

<main>
  <article>
    <h2>{{ object.title }}</h2>
    <p>投稿者：{{ object.author }}</p>
    <div class="social-buttons">
      <a href="https://twitter.com/share?url=https://hadronnews.com/detail_page/{{ object.id }}" rel="nofollow noopener" target="_blank" class="social-button twitter">
      Twitter(X)
      </a>
      <a href="http://www.facebook.com/share.php?u=https://hadronnews.com/{{ object.id }}" rel="nofollow noopener" target="_blank" class="social-button facebook">
        Facebook
      </a>
      <a href="http://line.me/R/msg/text/?https://hadronnews.com%0a{{ object.title }}" target="_blank" rel="nofollow noopener" class="social-button line">
        Line
      </a>
    </div>
    <p>{{ object.content|safe }}</p>
    <div class="social-buttons">
      <a href="https://twitter.com/share?url=https://hadronnews.com/detail_page/{{ object.id }}" rel="nofollow noopener" target="_blank" class="social-button twitter">
        Twitter(X)
      </a>
      <a href="http://www.facebook.com/share.php?u=https://hadronnews.com/{{ object.id }}" rel="nofollow noopener" target="_blank" class="social-button facebook">
        Facebook
      </a>
      <a href="http://line.me/R/msg/text/?https://hadronnews.com%0a{{ object.title }}" target="_blank" rel="nofollow noopener" class="social-button line">
        Line
      </a>
    </div>
  </article>
</main>
{% endblock content %}