{% extends 'base.html' %}
{% load static %}

{% block metatag %}
  <meta property="og:url" content="https://hadronnews.com">
  <meta property="og:type" content="article">
  <meta property="og:title" content="ハドロンニュース">
  <meta property="og:description" content=”おもしろい科学情報をまとめてニュース配信しています。宇宙、物理、IT、SF小説、SF映画と手広く発信していきます。”>
  <meta property="og:image" content="{% static 'hadronnews_ogp.png' %}" >
  <meta name="twitter:card" content="summary" />
{% endblock metatag %}

{% block customcss %}
  <link href="{% static 'top.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
  <body>
    <div class="main-container">
      <div class="left-side">
        <div class="sidebar-ads">
        <!-- admax -->
          <script src="https://adm.shinobi.jp/s/50d5c0517727ff365d5e433772e62be7"></script>
        <!-- admax -->
        </div>
      </div>
      <div class="main">
        <h2>最新ニュース</h2>
        <hr>
        {% for news in news_list %}
          {% if forloop.first %}
            <div class="box first-news-box">
              <img src="{{ news.newsimage.url }}" alt="サムネイル1">
              <div class="box-title">
                <h2>
                  <a href="{% url 'detail_page' news.pk %}">
                    {{ news.title |slice:":50" }}{% if news.title|length > 50 %} ...{% endif %}
                  </a>
                </h2>
                <div class="datetime-container">
                  <p>{{ news.display_name }}: {{ news.display_date }}</p>
                </div>
              </div>
              <div class="box-content">
                <div class="over-text">
                  <p>
                    {{ news.content|safe|striptags|slice:":150" }}{% if news.content|length > 150 %}
                    <a href="{% url 'detail_page' news.pk %}">
                      ...続きを読む
                    </a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <hr>
          {% else %}
            <div class="news-item">
              <div class="image-container">
                <img src="{{ news.newsimage.url }}" alt="サムネイル{{ forloop.counter }}">
              </div>
              <div class="text-container">
                  <a href="{% url 'detail_page' news.pk %}">
                    {{ news.title |slice:":50" }}{% if news.title|length > 50 %} ...{% endif %}
                  </a>
                <div class="datetime-container">
                  <p>{{ news.display_name }}: {{ news.display_date }}</p>
                </div>
              </div>
            </div>
            <hr>
          {% endif %}
        {% endfor %}

        <div class="news-list-button-container">
          <p><a href="news_list" class="news-list-button">ニュースをもっと見る</a></p>
        </div>

        <h2>おすすめ動画</h2>
        <hr>
        {% for video in videos_list %}
          <div class="youtube">
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <iframe src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{ video.title }}</p>
          </div>
        {% endfor %}

        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/332174a534466c59edffc61dda73d8c6"></script>
        <!-- admax -->
      </div>
      <div class="right-side">
        <div class="sidebar-ads">
        <!-- admax -->
          <script src="https://adm.shinobi.jp/s/50d5c0517727ff365d5e433772e62be7"></script>
        <!-- admax -->
        </div>
      </div>
    </div>
  </body>
{% endblock content %}
