{% extends 'base.html' %}
{% load static %}

<title>トップページ</title>

{% block customcss %}
  <link href="{% static 'top.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
<nav class="navbar navbar-dark bg-dark text-light">
  <h3>ニュース</h3>
</nav>
{% endblock header %}

{% block content %}
  <body>
    <div class="container">
        <h2>ニュース</h2>
        <hr>
        {% for news in news_list %}
          <div class="box">
            <img src="{{ news.newsimage.url }}" alt="サムネイル1">
            <div class="box-title">
              <h2>
                <a href="{% url 'detail_page' news.pk %}">
                  {{ news.title |slice:":20" }}{% if news.title|length > 20 %} ...{% endif %}
                </a>
              </h2>
            </div>
            <div class="box-content">
              <p>{{ news.content|safe|striptags|slice:":100" }}{% if news.content|length > 100 %} ...{% endif %}</p>
            </div>
          </div>
        {% endfor %}

        <h2>おすすめ動画</h2>
        <hr>
        {% for video in videos_list %}
        <div class="box">
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <br>
          <iframe src="{{ video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p>{{ video.title }}</p>
        </div>
        {% endfor %}
      </div>
  </body>
{% endblock content %}